.mom-header{
  //background-color: red;
  padding: 30px;
  width :100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //align-items: baseline;
  }
.headerbox1{
  //align-items : stretch;
  display: flex;
  justify-content: flex-start;
  //float: left;

}
.headerbox2{
  display: flex;
  justify-content: flex-end;
  @media only screen and (max-width:640px){
    //display: none;
    //display:none;
    flex-direction: column;

  }
}
@media only screen and (max-width:640px){
  .hide{
    display: none;
  }
}
.headerbox2 a{
  color:#fff;
  padding: 10px;
  margin :10px;
}
