h1 {
 font-family: Roboto;
 text-align: center;
}

.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.allpage {
  width: 100%;
 height: 500px;
 
   background-image: url("/img/banner.jpg");
      background-size: cover;
   
}

.button1 {
 width: 280px;
 height: 60px;
 border-radius: 30px;
 background-color: #0000ff ;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 border:1px solid #1ea2ff ;
 display: inline-block;
 cursor:pointer;
 color:#ffffff ;
 font-family:Roboto;
 font-size:20px;
 text-align:center;
 padding:15px 30px;
 text-decoration: none;
 text-shadow: 0px 1px 0px #3d768a ;
 justify-content: center;
}

.button1:hover {
 background-color:#1ea2ff ;
}

.button1:active {
 position: relative;
 top:1px;
}

.mom {
   width: 100%;
   height: 1000px;

     background-image: url("/img/mock_two.png");
       background-size: cover;
     background-repeat: no-repeat;
 
}
.logo_02 {
 width: 10%;
 height: 25px;
  object-fit: contain;

}

.first {
 width: 100%;
 height: 300px;
 background-color: #ffffff ;
}

.mock_2tag {
 width: 100%;
 height: 300px;
 background-color: #ffffff ;
}

.button2 {
 width: 150px;
 height: 40px;
 border-radius: 30px;
 background-color: #0000ff ;
 -moz-border-radius:30px;
 -webkit-border-radius:30px;
 border:1px solid #1ea2ff ;
 display: inline-block;
 cursor:pointer;
 color:#ffffff ;
 font-family:Roboto;
 font-size:20px;
 text-align:center;
 padding:15px 30px;
 text-decoration: none;
 text-shadow: 0px 1px 0px #3d768a ;
 justify-content: center;
}

.button2:hover {
 background-color:#1ea2ff ;
}
.button2:active {
 position: relative;
 top:1px;
}



.third {
 width: 100%;
 height: 400px;
 background-color: #ffffff ;
}

.blue {
 width: 100%;
 height: 300px;
     background-image: url("/img/insights_bg.jpg");
   //background-size: cover;
}

.user {
  width: 100%;
 height: 400px;
 background-color: #273140 ;
 

}

.touch {
  width: 100%;
 height: 600px;
 background-color: #212a38 ;
}
